$headingcolor: #181818;
$bodycolor: #fcdbad;
$contentbodycolor: #ffc38b;
$buttoncolor: #fdaa5c;
$buttonhovercolor: #ff8801;
$inputbgcolor: #fce6c6;
$hoverinputbgcolor: #f7f7f7;
$hoveraccountbutton: #faaf68;
$boxshadow1: 0px -1px 10px -1px rgba(0, 0, 0, 0.75);
$boxshadow2: -1px -1px 5px -1px rgba(0, 0, 0, 0.75);