/* Overall Navigation bar color*/
$lightnav: #ffc38b;
$lighttextheader: #000000;

/* search bar color*/
$lightinput: #fce6c6;
$hoverlightinput: #f7f7f7;

/* My Account color*/
$hoverlightaccbutton: #faaf68;

/*Button Colors*/
$lightbutton: #fdaa5c;
$hoverlightbutton: #ff8801;