/*? Fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$fullwidthviewspace: 100vw;
$fullwidth: 100%;
$headingcolor: #181818;
$bodycolor: #fcdbad;
$contentbodycolor: #ffc38b;
$buttoncolor: #fdaa5c;
$buttonhovercolor: #ff8801;
$inputbgcolor: #fce6c6;
$hoverinputbgcolor: #f7f7f7;
$hoveraccountbutton: #faaf68;
$robotofont: "Roboto", sans-serif;
$standardtransition: 0.5s;
$boxshadow1: 0px -1px 10px -1px rgba(0, 0, 0, 0.75);
$boxshadow2: -1px -1px 5px -1px rgba(0, 0, 0, 0.75);

/*? Initial Overall Adjustments*/
//#INIT0
body {//Layouts
  width: $fullwidthviewspace;//Layouts
  height: 100vh;//Layouts
  padding: 0;//Layouts
  margin: 0;//Layouts
}
//#INIT1
html {
  scroll-behavior: smooth;//Behavior
}

//*NAVIGATION BAR - START

//#NAV0
.navigation {//Layouts
  padding: 10px;//Layouts
  width: $fullwidthviewspace;//Layouts
  background-color: $contentbodycolor;
  display: flex;//Layouts
  align-items: center;//Layouts
}

//? TITLE BOX and font "HELPDESK"
//#NAV1
.titletext {//Layouts
  text-transform: uppercase;
  font-family: $robotofont;//Behavior
  font-size: 25px;//Layouts
  width: 11%;//Layouts
  cursor: pointer;//Layouts
  text-decoration: none;//Behavior
  color: black;
  letter-spacing: 0.1em;//Layouts
}

.titletext:hover{
  text-decoration: none;//Behavior
  color: black;
}

//? Search bar box - START
//#NAV2
.search {//Layouts
  width: 50%;//Layouts
}//Layouts

//? Search bar input field
//#NAV2.0
input[type="text"] {//Layouts
  padding: 8px;//Layouts
  width: 90%;//Layouts
  outline: none;//Behavior
  background-color: $inputbgcolor;
  border: none;//Behavior
  border-radius: 6px;//Layouts
  transition: 0.5s;
}
input[type="text"]:focus {
  outline: none;
  background-color: $hoverinputbgcolor;
}

input[type="text"]:hover {
  outline: none;
  background-color: $hoverinputbgcolor;
  transition: 0.5s;
}
//? Search bar box - END

//? My account box - START
//#NAV3
.profile {//Layouts
  width: 5%;//Layouts
  margin-left: 25%;//Layouts
  display: flex;//Layouts
  align-items: center;//Layouts
  padding: 7px;//Layouts
  border-radius: 7px;//Layouts
  transition: 0.5s;//Layouts
}

.profile:hover{
  background-color: $hoveraccountbutton;
  transition: 0.5s;
  cursor: pointer;
}

//?My account icon
//#NAV3.0
.accicon{//Layouts
  width: 100%;//Layouts
}
//? My account box - END

//*NAVIGATION BAR - END

//next level

.creation{//Layouts
  padding: 10px;//Layouts
}

.create_1{//Layouts
  border: 0;//Layouts
  padding: 8px;//Layouts
  border-radius: 4px;//Layouts
  background-color: $buttoncolor;
  font-weight: bold;
  transition: 0.5s;
  font-family: $robotofont;
}

.create_1:hover{
  background-color: $buttonhovercolor;
  transition: 0.5s;
  cursor: pointer;
}

.create:active{
  outline: none;
}

/*Smaller Screens*/
@media only screen and (max-width: 999px){
  .titletext {
    font-size: 20px; 
    width: 15%;
    letter-spacing: 0.5em;
  }
  .search {
    width: 70%;
  }

  input[type="text"] {
    width: 90%;
  }

  .profile {
    width: 5%;
    margin-left: 20%;
  }

  .subtitletext {
    font-size: 15px;
    width: 70%;
  }

  .accicon {
    width: 100%;
  }

  img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Mid Size Screens Screens*/
@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .titletext {
    font-size: 20px; 
    width: 15%;
    letter-spacing: 0.5em;
  }
  .search {
    width: 70%;
  }

  input[type="text"] {
    width: 90%;
  }

  .profile {
    width: 5%;
    margin-left: 20%;
  }

  .subtitletext {
    font-size: 15px;
    width: 70%;
  }

  .accicon {
    width: 100%;
  }

  img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Bigger Screens*/
@media only screen and (min-width: 1301px) {
  .titletext {
    font-size: 20px; 
    width: 15%;
    letter-spacing: 0.5em;
  }
  .search {
    width: 70%;
  }

  input[type="text"] {
    width: 90%;
    padding: 10px;
  }

  .profile {
    width: 5%;
    margin-left: 20%;
  }

  .subtitletext {
    font-size: 15px;
    width: 70%;
  }

  .accicon {
    width: 100%;
  }

  img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}